
.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;


  height: 100vh;
  display:flex;
  flex-direction: column;
}



.welcome-message {
  color: rgb(94, 93, 93);
  text-align: center;
}
